<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ομάδες
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card (click)="viewItem(item)" *ngFor="let item of items">
    <ion-grid>
      <ion-row>
        <ion-col>
          {{ item.teamName }}
        </ion-col>
        <ion-col>
          <ion-icon name="trophy">&nbsp;{{ item.teamRating }}</ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <img *ngIf="item.teamImage" src="{{ item.teamImage }}"/>
  </ion-card>
</ion-content>
